.product-small-img::-webkit-scrollbar {
    width: 20px;      
    height: 2px;  
  }
  
.product-small-img::-webkit-scrollbar-track {
    background: rgb(255, 170, 0);   
    border-radius: 0px 0px 10px 10px;      
  }
.product-small-img::-webkit-scrollbar-thumb {
    background-color: rgb(228, 0, 0);
    border-radius: 0px 0px 10px 10px;    
    border: 1px solid black;
    z-index: -1;
  }




  table {
    text-align:start;
    width: 400px;
    padding: 20px 0px;
    max-width:100%;
    
  }
  td{
    padding: 5px;
  }

  ul:nth-of-type(1) {
    list-style-position: inside;
    padding: 0;
    height: 4;

  }
ul li{
  line-height: 2;
}

li{
  color: rgb(97, 97, 97);
  padding: 20px 20px 0px 0px ;
}
.sp{
  color: black !important;
}
.fa-check::before{
  color: green;
  font-family: 'FontAwesome';
}


@media only screen and (max-width:990px){
  li {
    padding: 20px 0px;
}
}

@media only screen and (max-width:407px){
  table {
    width: 100%!important;
}
td {
  padding: 5px;
}
tr {
  width: fit-content !important;
  display: table-header-group;
  gap: 20px;
  flex-direction: row;
  justify-content: flex-end;
}
li {
  padding: 20px 0px 0px 0px;
}
}

@media only screen and (max-width:390px){
  table {
    width: 100%!important;
}
td {
  padding: 5px 2px;
}
tr {
  width: fit-content !important;
  display: table-header-group;
  gap: 20px;
  flex-direction: row;
  justify-content: flex-end;
}

}



@media only screen and (max-width:376px){
  table {
    width: 100%!important;
}
td {
  padding: 0px;
  font-size: 15px;
}
tr {
  width: fit-content !important;
  display: table-row;
  gap: 20px;
  flex-direction: row;
  justify-content: flex-end;
}

}
@media only screen and (max-width:363px) and (max-width:360px){
  table {
    width: 100%!important;
}
td {
  padding: 0px;
}
tr {
  width: fit-content !important;
  display: table-row;
  gap: 20px;
  flex-direction: row;
  justify-content: flex-end;
}

}

@media only screen and (max-width:376px){
td {
  padding: 0px;
  font-size: 14px;
}
}